# LISTS

In [8]:
# how are lists mutable?

L = [11,22,33,44,55] #make a list
print("ORIGINAL LIST : ",L)
t = type(L)                   #type function prints which type is the list 
i = id(L)                     #id functions tells us the id number 
print("TYPE 1 OF THE LIST : ",t)
print("ID 1 OF THE LIST : ",i)
L[0] = 10                     #0th index value is 11 so 11 will be changed to 10
print("LIST VALUE CHANGED : ",L)
print("TYPE 2 OF THE LIST : ",t)
print("ID 2 OF THE LIST : ", i) #id value remains same from this we get to know that lists are mutable

ORIGINAL LIST :  [11, 22, 33, 44, 55]
TYPE 1 OF THE LIST :  <class 'list'>
ID 1 OF THE LIST :  2622331796608
LIST VALUE CHANGED :  [10, 22, 33, 44, 55]
TYPE 2 OF THE LIST :  <class 'list'>
ID 2 OF THE LIST :  2622331796608

In [12]:
#INTEGERS ARE IMMUTABLE TYPE
a = 20
t = type(a)
i = id(a)
print("TYPE : ",t)
print("ID : ",i)
a = a+50
print("AFTER ADDING 50 WITH 20 :",a)
i2 = id(a)
print("ID : ",i2)       #by seeing the output the id differs so we confirm that integers are immutable type

TYPE :  <class 'int'>
ID :  140712382769552
AFTER ADDING 50 WITH 20 : 70
ID :  140712382771152

In [32]:
#traversing a list
#this only accesses and processes the elements inside the list
l = [11,22,33,44,55]
print(l)
for i in l:
    print("\nEXPONENT: ",i**2, end="") 
    print("     MULTIPLICATION: ",i*2, end="")
    print("     ADDITION: ",i+2, end="")
    print("     SUBTRACTION: ",i-2, end="")
    print("     DIVISION: ",i/2, end="")
    print("     FLOOR DIVISION: ",i//2, end="")

[11, 22, 33, 44, 55]

EXPONENT:  121     MULTIPLICATION:  22     ADDITION:  13     SUBTRACTION:  9     DIVISION:  5.5     FLOOR DIVISION:  5
EXPONENT:  484     MULTIPLICATION:  44     ADDITION:  24     SUBTRACTION:  20     DIVISION:  11.0     FLOOR DIVISION:  11
EXPONENT:  1089     MULTIPLICATION:  66     ADDITION:  35     SUBTRACTION:  31     DIVISION:  16.5     FLOOR DIVISION:  16
EXPONENT:  1936     MULTIPLICATION:  88     ADDITION:  46     SUBTRACTION:  42     DIVISION:  22.0     FLOOR DIVISION:  22
EXPONENT:  3025     MULTIPLICATION:  110     ADDITION:  57     SUBTRACTION:  53     DIVISION:  27.5     FLOOR DIVISION:  27

In [51]:
#printing the list of elements along its index
l = ['P','O','L','I','T','E']
length = len(l)
for i in range(length):
    print("AT INDICES",i,":",l[i])

AT INDICES 0 : P
AT INDICES 1 : O
AT INDICES 2 : L
AT INDICES 3 : I
AT INDICES 4 : T
AT INDICES 5 : E

In [54]:
#comparing lists
l1 = [1,2,3]
l2 = [1,2,3]
l3 = [4,5,6]
print(l1==l2)
print(l1==l3)
print(l1>l2)
print(l3>l2)

True
False
False
True

In [55]:
#joining the list or concatenation
l1 = [11,22,33,44,55]
l2 = [66,77,88,99]
l3 = l1+l2
print(l3)

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [59]:
#replication or repeating
l1 = [11,22,33]
l = l1*3
print(l) #but we cannot replicate with other list

[11, 22, 33, 11, 22, 33, 11, 22, 33]

In [61]:
#LIST METHODS
#1)len() method
l = [11,22,33]
len(l)

3

In [62]:
#2) list()
l = ("HELLO")
list(l)

['H', 'E', 'L', 'L', 'O']

In [66]:
#3) index()
l = [11,22,33,44,55,22]   #only the 1st matched element item from the list and its index value
i1 = l.index(22)
print(i1)

1

In [2]:
#4)append()
# append() adds only 1 element at the end of the list
l = [11,22,33,44]
l.append(55)
print(l)

[11, 22, 33, 44, 55]

In [3]:
#5) extend()
#this function can add multiple elements to the end of the list
l = [11,22,33,44]
l.extend([55,66,77])
print(l)

[11, 22, 33, 44, 55, 66, 77]

In [1]:
#6) insert()
# this function inserts elements to the specified index
v = ['a','e','i','u']  #creating a list of vowels
v.insert(3,'o')
print('LIST : ',v)

LIST :  ['a', 'e', 'i', 'o', 'u']

In [5]:
#7) pop()
# this method removes the items at the given index from the list and return the removed item
p = [2,3,4,7]
r = p.pop(2)
print("REMOVED ELEMENT : ",r)
print("UPDATED LIST : ",p)         # this is the function of pop()
#now adding the correct element after the element deletion
p.insert(2,5)
print("LIST OF INSERTED ELEMENT : ",p)

REMOVED ELEMENT :  4
UPDATED LIST :  [2, 3, 7]
LIST OF INSERTED ELEMENT :  [2, 3, 5, 7]

In [2]:
#8) reverse()
# this function reverses the element inside the list
#taking the same example of prime nos. 
p = [2,3,5,7]
p.reverse()
print(p)

[7, 5, 3, 2]

In [3]:
#9)clear()
# this function removes all the element from the list
# taking the same example of prime nos.
p = [2,3,5,7,11]
p.clear()
print("AFTER CLEARING THE LIST : ",p)

AFTER CLEARING THE LIST :  []

In [10]:
#10)del()
# this function deletes the particular element from the list
p = {'NAME' : 'VENKAT','AGE' : 16,'PROFESSION' : 'STUDENT' }
del(p['PROFESSION'])
print(p)

{'NAME': 'VENKAT', 'AGE': 16}

In [11]:
#11)count()
# this function returns the no. of times the specified appears in the list
n = [2,3,5,7,11,2,7,7]
count = n.count(2)
c2 = n.count(7)
print("COUNT OF 2 : ",count)
print("COUNT OF 7 : ",c2)

COUNT OF 2 :  2
COUNT OF 7 :  3

In [21]:
#12)sort()
#this function sorts the elements in the list in increasing order 
l = [25,21,24,45,12,13,10]
l.sort()
print(l)

[10, 12, 13, 21, 24, 25, 45]

In [22]:
#13)sorted()
#this function returns the new sorted list but does not sort the original list
l1 = [23,56,20,12]
l1.sort()
print(l1)
l2 = sorted(l1,reverse = True)
print(l2)

[12, 20, 23, 56]
[56, 23, 20, 12]

In [23]:
#14)max()
#this function returns the maximum element inside the list
n = [12,255,23,45,65]
max(n)

255

In [24]:
#14)min()
#this function returns the minimum element inside the list
n = [12,255,23,45,65]
min(n)

12

In [25]:
#15)sum()
#this function returns the sum of elements in the list
l = [11,22,33,44]
sum(l)

110

In [ ]:
# next topic is tuple which will be uploaded after this